---
import Layout from '../layouts/Layout.astro';
import CardContainer from "../components/card";
import SectionCard from "../components/sectionCard";
import { Card } from "../components/ui/card";
import { getCollection } from 'astro:content';

const materials = await getCollection('material')

---

<Layout>
    <div class="flex flex-col gap-10">
        <img class="w-full h-64 rounded-lg object-cover" src="https://images.pexels.com/photos/4167539/pexels-photo-4167539.jpeg"
             alt="Landing image">
        <div class="relative -mt-20 px-16">
            <!--Header que muestra pregunta-->
            <Card>
                <div class="p-5">
                    <h4 class="font-semibold text-2xl inline-block hover:text-indigo-600 transition duration-500 ease-in-out
                        inline-block mb-2">
                        Pregunta del día</h4>
                    <p class="text-gray-500 text-sm">
                        Pregunta diaria
                    </p>
                    <p class="mt-5 text-gray-600 text-xs">
                        Piensa la respuesta...
                    </p>
                </div>
            </Card>
        </div>

        <!--Seccion para recomendar-->
        <CardContainer>
            <div class="title-grad">Temas populares</div>
            <div class="flex overflow-x-scroll gap-5 w-full rounded-lg py-4">
                {
                    materials.map(material => {
                        const {slug, data} = material;
                        const {subject, img} = data;

                        return (
                            <a href={`/quiz/${slug}`}>
                                <SectionCard title={subject} img={img} />
                            </a>
                        )
                    })
                }
            </div>
        </CardContainer>
    </div>


</Layout>
