---
import Layout from '../layouts/Layout.astro';
import ProfileCard from '../components/profileCard.astro';

---

<Layout>
    <div class="flex place-content-center">
        <ProfileCard />
    </div>

</Layout>